<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ListaProfesorC.Properties.Settings.BDListaProfesorConnectionString"
            connectionString="Data Source=ALICIA\SQLEXPRESS;Initial Catalog=BDListaProfesor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 

</configuration>